<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subreddit Relationships</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    
    <body>
        <h1 id="name"></h1>
        <div id="canvas"></div>
        {% if images %}
        <meta id="images" data-images="{{ images }}">
        <script type="text/javascript" src="/static/create.js"></script>
        <script>
            var images = $('#images').data('images');
            var numNodes = images.length;
            var radius = 450;
            draw(images, numNodes, radius);
        </script>
        {% endif %}
    </body>
</html>