#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transfor: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.3;
}